//- foot.pug


script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='./script.js')

include head.pug

.footer
  p
    a(href='https://github.com/0xWarning')
      img(src='.includes/images/github.svg' alt='github')
    img(src='https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg' alt='nodejs')

