//- foot.pug


script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='./script.js')

include head.pug

.footer
  p
    a(href='https://github.com/0xWarning')
      img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/github.svg' alt='github')
    a(href='https://discord.gg/KuR3kP3Ntr')
      img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/discord.svg' alt='discord')
    a(href='https://www.youtube.com/channel/UCrgkf4tKCOCC9cdszFuQmhg')
      img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/youtube.svg' alt='youtube')
    a(href='https://www.youtube.com/channel/UCrgkf4tKCOCC9cdszFuQmhg')
      img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/pug.svg' alt='pug')

