//- front/tes.pug
doctype html
html
  include includes/head.pug
  body
      div.about-section
        h1 Header Title
        p Header Description
      h2(style='text-align:center') Our Team
      div.row
        div.column 
           div.card
            img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/av1.jpg' style="width:100%" ) 
            .container
              h2 Example
              p.title CEO
              p Example Text
              p Example@example.com
              p
                button.button Contact
        div.column       
           div.card

            .container
              img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/av2.jpg' style="width:100%" ) 
              h2 Example
              p.title CEO
              p Example Text
              p Example@example.com
              p
                button.button Contact    
        div.column     
           div.card            
            .container
              img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/av3.jpg' style="width:100%" ) 
              h2 Example
              p.title CEO
              p Example Text
              p Example@example.com
              p
                button.button Contact  


      h1(style='text-align:center') Splittt
      include includes/foot.pug