//- front/tes.pug
doctype html
html
  include includes/head.pug
  body
      div.about-section
        h1 Header Title
        p Header Description
      h2(style='text-align:center') Our Team
      div.row
        div.column 
           div.card
            .container
              img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/av5.jpg' style="width:95%" )
              h2 Q
              p.title CEO
              p The Idea Man
              p m@example.com
              p
                button.button Contact
        div.column       
           div.card
            .container
              img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/av2.jpg' style="width:100%" ) 
              h2 J
              p.title CEO
              p The Developer
              p j@example.com
              p
                button.button Contact    
        div.column     
           div.card            
            .container
              img(src='https://raw.githubusercontent.com/0xWarning/Node-Web-Server/main/front/includes/images/av3.jpg' style="width:100%" ) 
              h2 R
              p.title Bot
              p Custom Company Helper Bot
              p r@example.com
              p
                button.button Contact  


      //-h1(style='text-align:center') Splittt
      include includes/foot.pug